body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #03011d /* Dark blue, reminiscent of Superman */ !important;
    color: #ffffff /* color text for contrast */ !important;
    line-height: 1.6; /* Spacing between lines */
}

.container {
    text-align: center;
    padding-bottom: 20px; /* Adjust the value as needed */
}

.search-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    cursor: pointer;
}

.block {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 10px;
}

.block h3 {
    margin-top: 0;
}

.block p {
    margin: 5px 0;
}
/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: auto; /* Full width on smaller screens */
        margin: 10px; /* Less margin on smaller screens */
        padding: 10px; /* Less padding on smaller screens */
    }
    h1 {
        font-size: 24px; /* Smaller font size for the heading on small screens */
    }
}
    /* Your existing styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #0047AB;
        color: white;
    }
    tr:nth-child(even) {
        background-color: hsl(0, 81%, 17%);
    }
    .container table tr:hover td {
        background-color: transparent; /* Make cell background transparent on hover */
    }
    .sub-table {
        border-collapse: collapse;
    }
    .sub-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    footer {
        font-size: 0.9em;
        width: 80%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the footer */
        text-align: left; /* Align the text to the left within the footer */
    }