body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #03011d /* Dark blue, reminiscent of Superman */ !important;
    color: #ffffff /* color text for contrast */ !important;
    line-height: 1.6; /* Spacing between lines */
}

.container {
    text-align: center;
    padding-bottom: 20px; /* Adjust the value as needed */
}

.container-heatmap {
    text-align: center;
    padding-bottom: 20px; /* Adjust the value as needed */
}

.search-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    cursor: pointer;
}

.block {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Add some space on the top, adjust as needed */
    margin-bottom: 20px; /* Add some space on the bottom, adjust as needed */
}

.block h3 {
    margin-top: 0;
}

.block p {
    margin: 5px 0;
}
/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: auto; /* Full width on smaller screens */
        margin: 10px; /* Less margin on smaller screens */
        padding: 10px; /* Less padding on smaller screens */
    }
    .container-heatmap {
        display: none; /* Hide the caption */
    }
    h1 {
        font-size: 24px; /* Smaller font size for the heading on small screens */
    }
    h2 {
        text-align: center; /* Center the text horizontally */
        margin-top: 20px; /* Add some space on the top, adjust as needed */
        margin-bottom: 20px; /* Add some space on the bottom, adjust as needed */
    }
}
    /* Your existing styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #0047AB;
        color: white;
    }
    tr:nth-child(even) {
        background-color: hsl(0, 81%, 17%);
    }
    .container table tr:hover td {
        background-color: transparent; /* Make cell background transparent on hover */
    }
    .sub-table {
        border-collapse: collapse;
    }
    .sub-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    footer {
        font-size: 0.9em;
        width: 80%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the footer */
        text-align: left; /* Align the text to the left within the footer */
    }
    
    .stock-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .input-wrapper {
        display: flex;
        justify-content: center;
        width: 100%; /* Ensure the input wrapper spans the full width */
    }
    
    input[type="text"] {
        width: 20%; /* Set the width of the text input */
    }
    
    .submit-btn {
        padding: 8px 16px; /* Adjust padding to fit the text */
        border-radius: 20px; /* Add rounded corners */
        background-color: #007bff; /* Button background color */
        color: white; /* Button text color */
        border: none; /* Remove border */
        cursor: pointer; /* Add cursor pointer */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }
    
    .submit-btn:hover {
        background-color: #0056b3; /* Darker background color on hover */
    }
    
    /* Media query for mobile devices */
    @media only screen and (max-width: 600px) {
        .input-wrapper {
            flex-direction: column; /* Change flex direction to stack elements vertically */
            align-items: center; /* Center align items */
        }
    
        input[type="text"] {
            width: 50%; /* Set the width of the text input to full width */
        }
    
        .submit-btn {
            width: fit-content; /* Set the width of the button based on content */
            margin-top: 10px; /* Adjust margin as needed */
        }
    }
    
  /* Basic styling for tables */
  table, th, td {
    border: 1px solid black; /* Keep the borders for clarity */
    border-collapse: collapse;
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left in cells */
}
    th {
        background-color: #8B0000; /* Dark red color for headers */
        color: white; /* White text color for better readability */
    }
    td {
        background-color: #00008B; /* Dark blue for table data cells */
        color: white; /* White text color for better readability */
    }

    /* Styling for the container wrapping tables to remove additional padding and ensure full data size is used */
    .table-container {
        overflow-x: auto; /* Allow horizontal scrolling if necessary */
        border: none; /* Remove border */
        box-shadow: none; /* Remove shadow for a cleaner look */
    }

    /* Grid layout adjustments */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, auto); /* Adjust columns to fit content */
        gap: 0; /* Remove gap between grid items */
        padding: 0; /* Remove padding around the grid container */
    }

    /* Media query for tablets and below */
    @media (max-width: 768px) {
        th, td {
            padding: 5px; /* Smaller padding on smaller devices */
        }
        .grid-container {
            grid-template-columns: 1fr; /* Stack tables vertically on small screens */
        }
    }

    /* Responsive table styling */
    .table-responsive {
        display: block;
        width: auto; /* Adjust width to auto to fit data size */
        overflow-x: auto; /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    }

    /* Adjustments for the table header */

            /* Center and make responsive the div containing the heat map */
            .plot-container {
                margin-left: auto;
                margin-right: auto;
                max-width: 90%; /* Maximum width of the container to maintain responsiveness */
                text-align: center; /* Center the content inside the div */
            }
    
            /* Responsive styling for smaller screens, such as tablets and mobile phones */
            @media (max-width: 768px) {
                .plot-container {
                    max-width: 100%; /* Allow the heat map to use the full width on small screens */
                }
            }

            .centered-content {
                text-align: center; /* Centers inline and inline-block elements within */
            }
            img {
                /* If the image is not inline by default, this makes it center within .centered-content */
                display: inline-block;
                max-width: 100%; /* Makes the image responsive */
                height: auto; /* Maintain aspect ratio */
            }