<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis Tool</title>
</head>
<body>
    <h1>Stock Analysis Tool</h1>
    <form action="/stocks/analyze" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label for="symbol">Enter Stock Symbol:</label>
        <input type="text" id="symbol" name="symbol" required>
        <input type="submit" value="Analyze">
    </form>
    <!-- Footer Disclaimer -->
    <footer>
        <p>⚠️ Disclaimer: This Stock Analysis Application is intended for informational purposes only and should not be construed as financial advice, investment recommendations, or endorsements. The analysis provided by this tool is based on algorithms, market data, and historical trends, and may not accurately predict future performance. Investing in the stock market involves inherent risks, including the potential loss of principal. It's essential to conduct thorough research, consult with a qualified financial advisor, and carefully consider your own risk tolerance, investment goals, and financial situation before making any investment decisions.</p>
    </footer>
</body>
</html>

